{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        try-let/try-let {:mvn/version "1.3.1"}}

 :paths ["src"]

 :aliases {:clj-kondo
           {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.08.03"}}
            :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}}}
